.app-info {
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: #24001a;
	min-height: 150px;
	width: 100%;
	padding: 30px;
	border: 2px solid #000000;
	background: linear-gradient(0deg, #9198e5, #e8ecff 90%);
	border-radius: 10px;
}
